.App {
  text-align: center;
}

.topContainer {
  padding-top: 50px;
  background-color: #f8f9fa;
  padding-left: 100px;
  padding-right: 100px;
  
}

.topContainer h1 {
  font-size: 3em;
  padding-bottom: 40px;
  
}

.topContainer .form-control {
  margin-right: 100px;
}

.topContainer .btn {
  max-width: 300px;
}

#inputDiv {
  padding-bottom: 40px;
}

ul {
  list-style-type: none;
  padding-left: 2px;
}

li {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.05s;
}

.task-complete {
  color: #198754;
  font-weight: 700;
  text-decoration-line: line-through;
}
.task-incomplete {
  color: #ffc107;
  font-weight: 700;
}

li .btn {
  margin-left: 10px;
  margin-right: 10px;
  padding-top:0px;
  padding-bottom:0px;
}

li .btn-warning {
  font-size: 0.8em;
  position:absolute;
  right: 30%;
}

li .btn-success {
  font-size: 0.8em;
  position:absolute;
  right: 30%;

}




















/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
